@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url(./normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-width: 375px;
  min-height: 100vh;
}

:root {
  --clr-primary: hsl(0, 0%, 17%);
  --clr-secondary: hsl(0, 0%, 59%);
}

body {
  font: 18px "Rubik", sans-serif;
  text-align: center;
  color: var(--clr-primary);
  background: url(../images/pattern-bg.png) no-repeat;
  background-position: -600px 0;
  background-size: 1440px 300px;
  overflow: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.06ch;
  margin: 24px 0;
  color: white;
}

.search-group {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

.search-group input {
  width: 100%;
  border: none;
  outline: none;
  margin: 1rem 1.2rem;
  caret-color: var(--clr-primary);
}

.search-group .search-btn {
  padding: 1.2rem 1.6rem;
  background-color: black;
  cursor: pointer;
}

.search-btn:hover {
  opacity: 0.8;
}

.details {
  position: relative;
  display: grid;
  gap: 1.3rem;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 9px 25px -1px hsla(0, 0%, 11%, 0.2);
  background-color: white;
  z-index: 5;
}

.details div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.details span {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  color: var(--clr-secondary);
}

.details output {
  font-weight: 700;
}

@media (min-width: 800px) {
  body {
    background-position: 0 0;
    background-size: 100vw 300px;
  }
}

@media (min-width: 1000px) {
  body {
    background-size: 100vw 270px;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .details {
    grid-auto-flow: column;
    text-align: left;
    min-height: 170px;
    padding: 2rem;
    margin-top: 3rem;
  }

  .details div {
    gap: 1rem;
    border-right: 1px solid hsl(0, 0%, 17%, 0.3);
  }

  .details div:last-child {
    border-right: none;
  }

  .details span {
    font-size: 12px;
  }

  .details output {
    font-size: 1.5rem;
    max-width: 200px;
  }
}

/* >map */
#map {
  position: relative;
  top: -131px;
  height: calc(100vh - 300px);
  outline: none;
  z-index: 0;
}

@media (min-width: 1000px) {
  #map {
    top: -90px;
    height: calc(100vh - 270px);
  }
}
